* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1b1919;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

p {
  color: #757575;
  line-height: 1.5rem;
  margin: 10px 0;
}

.btn-primary {
  padding: 18px 20px;
  border-radius: 5px;
  border: none;
  background-color: #f15b22;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

hr {
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* Header Styles */

header {
  background-image: url("./images/banner/banner1.png");
  background-position: center;
  background-size: cover;
}

.header-container {
  margin: 0 0 0 auto;
  padding: 150px;
  width: 30%;
  text-align: right;
}

.header-container h1 {
  font-size: 50px;
  font-weight: bold;
}

.header-container p {
  font-size: 16px;
  line-height: 1.5rem;
  margin: 15px 0;
}

.header-container div {
  margin-top: 20px;
}

/* Main Styles */

/* Main Failures Styles */
main {
  width: 80%;
  margin: 100px auto;
}

.main-failures-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-failures-left {
  width: 50%;
  display: flex;
  justify-content: center;
}

.main-failures-left img {
  height: 600px;
  width: 500px;
}

.main-failures-right {
  width: 30%;
  display: grid;
}

.main-failure-right-container h1 {
  margin-top: 170px;
}

.main-failures-right ul li {
  list-style: none;
}

.main-failures-right ul li p i {
  margin-right: 2px;
  color: green;
}

/* Main Plan Styles */
.main-my-plan-container {
  margin-top: 130px;
}

.main-my-plan-container h1 {
  font-size: 35px;
  text-align: center;
}

.main-my-plan-container ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.main-my-plan-container ul li {
  list-style: none;
  padding: 10px;
}

.main-my-plan-container ul li h2 {
  text-align: center;
}

.main-my-plan-container ul li p {
  font-size: 22px;
  text-align: center;
}

.plan-items img {
  height: 80px;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* My Blog Styles (Extra) */
.main-blog-container {
  margin: 100px auto;
}

.main-blog-container > h1 {
  margin-bottom: 40px;
  font-size: 35px;
  text-align: center;
}

.blog-left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 2px rgb(240, 236, 236);
}

.blog-container h1 {
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.blog-left-1 {
  width: 40%;
}

.blog-right-1 {
  width: 50%;
}

.blog-left-2 {
  width: 50%;
}

.blog-right-2 {
  width: 40%;
}

.blog-right-1,
.blog-left-2 p {
  text-align: justify;
}

/* Section Positive Mindset Banner */

.main-mindset-banner {
  width: 80%;
  border-radius: 10px;
  padding: 50px;
  margin: 100px auto;
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(241, 91, 34, 100%)
    ),
    url("images/watch.png");
}

.main-mindset-banner h1 {
  font-size: 35px;
  width: 50%;
  color: white;
}

.btn-secondary {
  background-color: #ffffff;
  color: tomato;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 20px;
  margin-top: 10px;
}

/* Footer Styles */
footer {
  background-color: #151414;
  display: flex;
  justify-content: space-between;
  padding: 80px 150px;
}

.footer-left {
  width: 30%;
}

.footer-title {
  color: #f8f8f8;
}

.footer-left ul {
  display: flex;
  margin-top: 20px;
}

.footer-left ul li {
  list-style: none;
  margin-right: 10px;
}

.footer-left ul li img {
  width: 40px;
}

.footer-right {
  width: 30%;
}

.footer-right h3 {
  color: white;
}

.footer-right input {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid white;
  display: block;
  background-color: #151414;
  margin: 15px 0 5px 0;
  width: 80%;
  font-size: 16px;
}
