* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1b1919;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

p {
  color: #757575;
  line-height: 1.5rem;
  margin: 10px 0;
}

.btn-primary {
  padding: 18px 20px;
  border-radius: 5px;
  border: none;
  background-color: tomato;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: rgb(224, 34, 0);
}

/* Header Styles */

header {
  background-image: url("../images/banner/banner1.png");
  background-position: center;
  background-size: cover;
}

.header-container {
  margin: 0 0 0 auto;
  padding: 150px;
  width: 30%;
  text-align: right;
}

.header-container h1 {
  font-size: 50px;
  font-weight: bold;
}

.header-container p {
  font-size: 16px;
  line-height: 1.5rem;
  margin: 15px 0;
}

.header-container div {
  margin-top: 20px;
}

/* Main Styles */

/* Main Failures Styles */
.main-failures-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main {
  width: 80%;
  margin: 100px auto;
}

.main-failures-left {
  width: 50%;
  display: flex;
  justify-content: center;
}

.main-failures-left img {
  height: 600px;
  width: 500px;
}

.main-failures-right {
  width: 30%;
  display: grid;
  align-items: center;
}

.main-failures-right ul li {
  list-style: none;
}

.main-failures-right ul li p i {
  margin-right: 2px;
  color: green;
}
